  
*, input, textarea, button, a, li {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $text-color;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1rem;
}

a {
  text-decoration: none;
}